.jumbotron{
   z-index:10;
   color:white;
   margin-top:9px;
   margin-left:40px; 
   position:fixed;
}

.droprs1{
    max-width: 280px;
}

.containerX2{
    margin-top : 400px;
}


.products{
    margin-top: 400px;
    position: fixed;
    z-index:11;

}

.BoobBtn{
    margin-top: 500px;
    margin-left:  300px;

}